@import '~leaflet/dist/leaflet.css';


.leaflet-pane,
.leaflet-pane > svg{
    position: relative;
}

.tooltip-wrap {
    position: relative;
}

.tooltip-wrap .tooltip-content {
    display: none;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
    background-color: #fff;
    padding: .5em;
    min-width: 10rem;
}

.tooltip-wrap:hover .tooltip-content {
    display: block;
}

.map_div{
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.map-hover-popup {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 4px;
    pointer-events: none; /* Makes the popup 'click-through' */
    transform: translate(50%, 100%); /* Adjust to position correctly */
    z-index: 1000;
}
