.Gallery {
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.Component_Container {
    display: flex;
    flex-direction: column; /* Horizontal arrangement */
    width: 100%; /* Full width of the Gallery */
    height: 70%; /* Full height of the Gallery */
    margin-left: 20px;
}

.Component1, .Component2 {
    flex: 1; /* Each component takes up equal space */
    height: 90%;
    width: 90%;
    margin-right: 10px;
    margin-bottom: 50px;
}

.Component1 {
    width: 80%;
    margin-left: 56px;
}

.map {
    height:50%;
}

.ts {
    height:50%
}
