.header_container {
    display: flex;
    align-items: center;
    justify-content: center; /* Horizontally center the content */
    height: 15vh;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.bodyText {
    text-align: left;
}