/* General Styles */
.tweets_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.tweets_container {
    list-style: none;
    padding: 10px;
    margin-right: 10px;
}

.tweet {
    background: #f9f9f9;
    color: black;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tweet_top, .tweet_bottom {
    display: flex;
}

.tweet_bottom {
    justify-content: space-between;

}

.tweet_interactions {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
}

.tweet_interactions p {
    margin-right: 7px;
}

.tweet_search_bar {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 450px;
    margin-left: 40px;
}
.clear_button {
    transform: translateX(-100%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}
/* Tweet Styles */
.profile_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    margin-top: 20px;
    color: #1DA1F2;
    text-decoration: none;
    font-weight: bold;
}

.tweet_text {
    color: #333;
}

.highlight {
    background-color: yellow;
}

.tweet_time, .tweet_location {
    font-size: 14px;
    color: #333;
}

.no_match {
    text-align: center;
    color: #333;
}

.tweets_container {
    max-width: 500px;
    max-height: 600px; /* Adjust the height as needed */
    overflow-y: auto;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    cursor: pointer;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination span {
    margin: 0 10px;
}

.tweet_interactions {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
}
.tweet_interactions p {
    margin-right: 7px;
}

